/* 768 - 481 */
@media(max-width: 481px) {
    .container {
        padding-inline: 20px;
    }

    .mainSection {
        padding: 16px;
    }

    .formSection {
        row-gap: 40px;
    }

    form {
        --formRowGap: 36px;
    }

    .formContainer {
        flex-direction: column;
        row-gap: var(--formRowGap);
    }

    input {
        width: 100%;
    }

    .mapSectionContainer {
        row-gap: 40px;
    }

    iframe {
        height: 200px;
    }
}